// ------ Imports ------
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:400,300,700|Open+Sans:300,400,600,700|Lato:400,300,700);

// ------ Vars ------
// Colors
@pink: #f27;
@white: #ffe;
@darkBlue: #333036;
@lightBlue: #3c393f;

// Sizes
@navHeight: 2.5rem;

// ------ Reset ------
*{
	-webkit-user-drag: none;
	user-drag: none;
	user-select: none;
	outline: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
	color: inherit;
	text-decoration: none;
}

ul, li{
	margin: 0; padding: 0;
	list-style: none;
}

input[type="button"], button, .button{ cursor: pointer; }

input, button, textarea, .button{
	border: none;
	// border-bottom: 2px solid @pink;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: 1.4em;
	font-weight: inherit;
	line-height: 1em;
	vertical-align: middle;
	box-sizing: border-box;
}

// ------ Styles ------

h1, h2, h3, h4, h5, h6{
	margin: 0;
	line-height: 1.2em;
	display: inline-block;
}
h1, h3, h5{ font-family: 'Roboto Slab'; }

h1, h2{ font-size: 2rem; }
h3, h4{ font-size: 1.5em; }
h5, h6{ font-size: 1em; }

p{
	font-size: 1.2rem;
	margin: 0 0 1em 0;
	line-height: 1.2em;
}

#themeOptions{
		&::-webkit-scrollbar{ width: 8px; }
		&::-webkit-scrollbar-track{ background: none; }
		&::-webkit-scrollbar-thumb{ background: rgba(122,122,122,.6); border-radius: 14px;}
}

html, body{
	color: @white;
	// font-family: 'Roboto Slab';
	// font-family: 'Roboto';
	// font-family: 'Open Sans';
	font-family: 'Lato';
	font-size: 12pt;
	font-weight: 100;
	margin: 0; padding: 0;
	min-height: 100vh;
	overflow-y: hidden;
}

body{
	background: @darkBlue;
	header{
		nav{
			-webkit-app-region: drag;
			font-size: @navHeight;
			background: @darkBlue;
			height: @navHeight; width: 100%;
			position: fixed;
			top: 0; left: 0;
			z-index: 1000;
			img{
				-webkit-app-region: no-drag;
				height: 100%;
				padding: .2em;
				position: absolute;
				top: 0; left: .1em;
				box-sizing: border-box;
			}
			> div{
				font-size: @navHeight / 2.8;
				text-align: right;
				position: absolute;
				right: .5em; top: 0;
				height: 99%;
				-webkit-app-region: no-drag;
				.menu{
					display: inline-block;
					vertical-align: middle;
					li{
						display: inline-block;
						margin: 0 .2em;
						vertical-align: middle;
						a{
							padding: 0 .2em;
							display: inline-block;
						}
					}
				}
				.windowControlls{
					height: 100%;
					display: inline-flex;
					flex-flow: row nowrap;
					box-sizing: border-box;
					align-items: center;
					margin: 0 0 0 1em;
					> a{
						background: #636066;
						height: 1em; width: 1em;
						vertical-align: middle;
						margin: 0 .2em; padding: 0;
						border-radius: 100px;
						-webkit-app-region: no-drag;
						&:nth-child(1){ background: #446; }
						&:nth-child(2){ background: #446; }
						&:nth-child(3){ background: @pink; }
					}
				}
			}
		}
	}
	main{
		background: @lightBlue;
		color: @darkBlue;
		height: 100vh;
		margin: 0; padding: @navHeight 0 0 0;
		box-sizing: border-box;
		> #dragdrop{
			// border: 12px dashed @darkBlue;
			// border-radius: 30px;
			color: @darkBlue;
			font-family: 'Roboto Slab';
			font-size: 2.5rem;
			font-weight: 400;
			line-height: 90vh;
			height: 100%;
			opacity: 1;
			cursor: pointer;
			box-sizing: border-box;
			z-index: 800;
			transition-timing-function: cubic-bezier(.8,0,.2,1);
			transition: height .3s, opacity .3s, color .2s ease-in-out;
			will-change: height;
			&:hover{
				color: fade(@white, 6%);
			}
			&.hidden{
				height: 0%;
				opacity: 0;
			}
			&.hover{
				color: @pink;
			}
			> div{
				display: inline-block;
				line-height: 1.3em;
				width: 100%;
				vertical-align: text-top;
			}
		}
		> #mainframe{
			border: none;
			background: #fff;
			height: 100%; width: 100%;
			max-height: 100vh - @navHeight;
			margin: 0 auto;
			display: block;
			opacity: 0;
			box-sizing: border-box;
			position: relative;
			z-index: 900;
			transition-timing-function: cubic-bezier(.8,0,.2,1);
			transition: height .3s, opacity .3s, width .2s;
			will-change: height, width;
			&.visible{
				// height: 100%;
				opacity: 1;
			}
			&.respons-200{ width: 200px; }
			&.respons-400{ width: 400px; }
			&.respons-600{ width: 600px; }
			&.respons-800{ width: 800px; }
			&.respons-1024{ width: 1024px; }
		}
		> #themeOptions{
			background: @darkBlue;
			color: @white;
			height: 40vh; width: 100%;
			padding: 0 0 2vh 0;
			position: fixed;
			top: 100vh; left: 0;
			display: flex;
			flex-flow: row wrap;
			overflow-y: scroll;
			box-sizing: border-box;
			box-shadow: 0 0 14px rgba(0,0,0,0);
			transition-timing-function: cubic-bezier(.8,0,.2,1);
			transition: top .3s, box-shadow .3s;
			z-index: 900;
			&.visible{
				top: 60vh;
				box-shadow: 0 0 14px rgba(0,0,0,.3);
			}
			> div{
				width: 45%;
				flex-grow: 1;
				padding: 0 1.5vw;
				> h3{ display: block; margin: .3em 0; }
				label{
					background: @white;
					color: @darkBlue;
					line-height: 2em;
					display: inline-block;
					width: 100%;
					padding: 0 .3em;
					box-sizing: border-box;
					&:first-of-type{ border-top-left-radius: 3px; border-top-right-radius: 3px; }
					&:last-of-type{ border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
					> input{
						font-size: 1em;
						float: right;
						height: 2em;
						max-width: 60%;
						line-height: inherit;
						&[type="color"]{
							width: 2em;
							border-radius: 100px;
						}
					}
				}
			}
		}
	}
	footer{

	}
}